<div class="content-block">
<div class="row" data-type="fragment" data-script="alerts_fragment">
    <form action="#" id="alerts-form">
	<div class="row alert-section">
	    <div class="col-100 content-block-title">Update Alert</div>
	    <div class="list-block media-list col-100">
		<ul>
		    <li>
			<a href="#" class="item-link smart-select update-alert" data-searchbar="true" data-back-text=" " data-searchbar-placeholder="Zoeken">
			    <select id="breaking_news" name="breaking_news" multiple="multiple"> </select>
			     <div class="item-text"> Ik wil op de hoogte blijven en ontvang graag een update-alert. </div>
                <div class="item-content">
				<div class="item-inner">
				    <div class="item-title-row">
					<div class="item-title"> Interessegebieden </div><!-- Belangrijk Nieuws -->
					<div class="item-after"> <span class="badge">0</span> </div>
				    </div>
				   
				</div>
			    </div>
			</a>
		    </li>
		</ul>
	    </div>
	</div>
	<div class="row alert-section">
	    <div class="col-100 content-block-title">BTW Alert</div>
        <div class="row col-100">
	    <div class="col-70">
		<p>
		    Stuur mij tijdig een alert voor de aangiftedatum van de btw. 
		    <!--<a href="javascript:void(0)" data-popover=".popover-help" class="badge open-popover">?</a>-->
		</p>
	    </div>
	    <div class="col-30">
		<div class="item-content">
		    <div class="item-inner">
			<div class="item-title"></div>
			<div class="item-input"> 
			    <label class="label-switch">
				<input id="btw-alert" name="btw_alert" type="checkbox" value="true"/>
				<div class="checkbox"> </div>
			    </label> 
			</div>
		    </div>
		</div>
	    </div>
        </div>
	    <div class="col-100 list-block with-top">
		<ul>
		    <li>
			<a href="#" class="item-link smart-select" data-open-in="picker" data-back-on-select="true" data-picker-close-text="Sluiten">
			    <select id="btw-alert-option" name="btw_alert_option"> </select>
			    <div class="item-content">
				<div class="item-inner">
				    <div class="item-title">Aangifte per</div>
				    <div class="item-after">Maak uw keuze</div>
				</div>
			    </div>
			</a>
		    </li>
		</ul>
	    </div>
	</div>
	<div class="row alert-section">
	    <div class="col-100 content-block-title">Loonbelasting Alert</div>
        <div class="row col-100">
	    <div class="col-70">
		<p>
		    Stuur mij tijdig een alert voor uiterste aangiftedatum van de btw. 
		    <!--<a href="javascript:void(0)" data-popover=".popover-help" class="badge open-popover">?</a>-->
		</p>
	    </div>
	    <div class="col-30">
		<div class="item-content">
		    <div class="item-inner">
            <div class="item-title"></div>
			<div class="item-input"> 
			    <label class="label-switch">
				<input id="loonbelasting-alert" name="loonbelasting_alert" type="checkbox" value="true" />
				<div class="checkbox"> </div>
			    </label>
			</div>
		    </div>
		</div>
	    </div>
        </div>
	    <div class="col-100 list-block with-top">
		<ul>
		    <li>
			<a href="#" class="item-link smart-select" data-open-in="picker" data-picker-close-text="Sluiten" data-back-on-select="true">
			    <select id="loonblasting-option" name="loonblasting_option"> </select>
			    <div class="item-content">
				<div class="item-inner">
				    <div class="item-title">Aangifte per</div>
				    <div class="item-after">Maak uw keuze</div>
				</div>
			    </div>
			</a>
		    </li>
		</ul>
	    </div>
	</div>
    </form> 

    <div class="popover popover-help">
	<div class="popover-angle"></div>
	<div class="popover-inner">
	    <div class="content-block">
		<p></p>
	    </div>
	</div>
    </div>
</div>
</div>