<div class="toolbar-inner row color-deeppurple">
    <div class="col-25">
	<a href="#" class="link call"> 
	    <i class="fa fa-phone fa-2x"></i> 
	    <span>Bel Ons</span> 
	</a>
    </div>
    <div class="col-25">
	<a href="#" class="link map">
	    <i class="fa fa-compass fa-2x"></i>
	    <span>Route</span>
	</a>
    </div>
    <div class="col-25">
	<a href="#" class="link mail">
	    <i class="fa fa-envelope-o fa-2x"></i>
	    <span>Mail</span>
	</a>
    </div>
    <div class="col-25">
	<a href="#" class="link web">
	    <i class="fa  fa-globe fa-2x"></i>
	    <span>Website</span>
	</a>
    </div>
</div>