<div class="row">
    <div class="col-100 with-top list-block">
        <div class="content-block map-content">
            <div id="map" style="width:100%;height:200px"></div>
        </div>
        <div class="content-block with-top">
	    <p id="address" class="text-left"> </p>
        <p class="text-left">
	    <span id="postcode"> </span>
	    <span id="place"> </span>
        </div>
        </p>
        <div class="card list-card">
            <div class="card-header">Openingstijden</div>
            <div class="card-content">
                <div class="card-content-inner">
                    <ul class="text-left">
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">Maandag</div>
                                    <div class="item-input"></div>
                                    <div class="item-after timing mon"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">Dinsdag</div>
                                    <div class="item-input"></div>
                                    <div class="item-after timing tue"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">Woensdag</div>
                                    <div class="item-input"></div>
                                    <div class="item-after timing wed"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">Donderdag</div>
                                    <div class="item-input"></div>
                                    <div class="item-after timing thu"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">Vrijdag</div>
                                    <div class="item-input"></div>
                                    <div class="item-after timing fri"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label zaterdag">Zaterdag</div>
                                    <div class="item-input"></div>
                                    <div class="item-after holiday sat"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label zondag">Zondag</div>
                                    <div class="item-input"></div>
                                    <div class="item-after holiday sun"></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>