<div class="content-block">
    <div class="row" data-type="fragment" data-script="makelaardij/alerts_fragment">
	<form action="#" id="alerts-form">
	    <div class="row alert-section">
		<div class="col-100 content-block-title">Update Alert</div>
		<div class="list-block media-list col-100">
		    <ul>
                <li>
                    <a href="#" class="item-link smart-select update-alert" data-searchbar="true" data-back-text=" " data-searchbar-placeholder="Zoeken">
                    <select id="zakelijk_news" name="zakelijk_news" multiple="multiple"> </select>
                    <div class="item-text silver-text"> Stuur mij een update-alert bij belangrijk nieuws zodat ik op de hoogte blijf. </div>
                    <div class="item-content">
                        <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title"> Alert Zakelijk </div>
                            <div class="mitem-after"> <span class="badge zakelijk-badge">0</span> </div>
                        </div>

                        </div>
                    </div>
                    </a>
                </li>
                <li>
                    <a href="#" class="item-link smart-select update-alert" data-searchbar="true" data-back-text=" " data-searchbar-placeholder="Zoeken">
                    <select id="particulier_news" name="particulier_news" multiple="multiple"> </select>
                    <div class="item-content">
                        <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title"> Alert Particulier </div>
                            <div class="mitem-after"> <span class="badge particulier-badge">0</span> </div>
                        </div>

                        </div>
                    </div>
                    </a>
                </li>
		    </ul>
		</div>
	    </div>
	    <div class="row alert-section">
		<div class="col-100 content-block-title">Hypotheekrente alert</div>
		<div class="row col-100">
		    <div class="col-70">
			<p>
			    Stuur mij maandelijks een overzicht van de actuele rentestanden van de belangrijkste aanbieders. 
			</p>
		    </div>
		    <div class="col-30">
			<div class="item-content">
			    <div class="item-inner">
				<div class="item-title"></div>
				<div class="item-input"> 
				    <label class="label-switch">
					<input id="hypotheekrente-alert" name="hypotheekrente_alert" type="checkbox" value="true"/>
					<div class="checkbox"> </div>
				    </label> 
				</div>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="row alert-section">
		<div class="col-100 content-block-title">Zorgverzekering alert</div>
		<div class="row col-100">
		    <div class="col-70">
			<p>
			    Stuur mij een alert in verband met het vernieuwen van mijn zorgverzekering. 
			</p>
		    </div>
		    <div class="col-30">
			<div class="item-content">
			    <div class="item-inner">
				<div class="item-title"></div>
				<div class="item-input"> 
				    <label class="label-switch">
					<input id="zorgverzekering-alert" name="zorgverzekering_alert" type="checkbox" value="true"/>
					<div class="checkbox"> </div>
				    </label> 
				</div>
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	    </div>
	</form> 
    </div>
</div>